.title {
  display: flex;
  background: #807171;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
}

.title.name {
  background: url(../photos/bg-name.jpeg) center center no-repeat;
  background-size: 100% auto;
}

.title.about {
  background: url(../photos/bg-about.jpeg) center center no-repeat;
  background-size: 100% auto;
}

.title.work {
  background: url(../photos/bg-work.jpeg) center center no-repeat;
  background-size: 100% auto;
}

.title.skills {
  background: url(../photos/bg-skills.jpeg) center center no-repeat;
  background-size: 100% auto;
}

.title.portfolio {
  background: url(../photos/bg-portfolio.jpeg) center center no-repeat;
  background-size: 100% auto;
}

.title.footer {
  min-height: 6rem;
}

.title.footer .m-l-1 {
  margin-left: 1rem;
}

.title .bg-pri {
  background: rgba(128, 113, 113, 0.8);
  padding: 1rem;
}

.content {
  background: #807171;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
}

.content .aboutme {
  align-items: center;
}

.content .aboutme .personal {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content .aboutme .personal .aboutformat {
  text-align: center;
  -webkit-margin-after: 0;
}

.content .aboutme .personal .resizepp {
  width: 100%;
}

.content.workhistory {
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content.workhistory .lastformat {
  -webkit-margin-after: 0;
}

.content.workhistory .lastformat li:last-child p {
  -webkit-margin-after: 0;
}

.content.skillset {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  font-size: 5rem;
  min-height: 10rem;
}

.content.samples {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.content.samples .resizebig {
  height: 20rem;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
