/*
    outline: 1px solid red
/*
$primary: rgb(128, 113, 113)
$primaryop: rgba(128, 113, 113, .8)
$secondary: rgb(255, 255, 255)

.title
    display: flex
    background: $primary
    color: $secondary
    justify-content: center
    align-items: center
    background-size: cover
    min-height: 25rem
    &.name
        background: url(https://images.unsplash.com/photo-1493708638467-241317300c83?ixlib=rb-0.3.5&s=23024847b0bbfc9d07eb671ba6ac6fd7&auto=format&fit=crop&w=1350&q=80) center center no-repeat
    &.about
        background: url(https://images.unsplash.com/photo-1451256656121-9ffc0c898a49?ixlib=rb-0.3.5&s=ace8622c7094beceb5014dc585c62e18&auto=format&fit=crop&w=1350&q=80) center center no-repeat
    &.work
        background: url(https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-0.3.5&s=872a83ba6a07ac43b3e7176337665316&auto=format&fit=crop&w=1350&q=80) center center no-repeat
    &.skills
        background: url(https://images.unsplash.com/photo-1508317469940-e3de49ba902e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=137b1b593ba99716c7cdefcfd300b064&auto=format&fit=crop&w=1350&q=80) center center no-repeat
    &.portfolio
        background: url(https://images.unsplash.com/photo-1481241857164-e8483bce922d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1153e5f30ea6b4c404f787ae80242638&auto=format&fit=crop&w=1353&q=80) center center no-repeat
    &.footer
        min-height: 6rem
        .m-l-1
            margin-left: 1rem
    .bg-pri
        background: $primaryop
        padding: 1rem

.content
    background: $primary
    color: $secondary
    display: flex
    .aboutme
        align-items: center
        .personal
            padding-top: 3rem
            padding-bottom: 3rem
            .aboutformat
                text-align: center
                -webkit-margin-after: 0
            .resizepp
                width: 100%
    &.workhistory
        flex-direction: column
        align-items: center
        padding-top: 3rem
        padding-bottom: 3rem
        .lastformat
            -webkit-margin-after: 0
            li:last-child p
                -webkit-margin-after: 0
    &.skillset
        align-items: center
        justify-content: space-around
        text-align: center
        flex-wrap: wrap
        font-size: 5rem
        min-height: 10rem
    &.samples
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        .resizebig
            height: 20rem
            width: 20rem
            padding-top: 2rem
            padding-bottom: 2rem
        
        


