.title {
  display: flex;
  background: #807171;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
}

.title.name {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6)), url(../photos/bg-name.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.title.about {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6)), url(../photos/bg-about.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.title.work {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6)), url(../photos/bg-work.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.title.skills {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6)), url(../photos/bg-skills.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.title.portfolio {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6)), url(../photos/bg-portfolio.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.title.footer {
  min-height: 6rem;
}

.title.footer .formatsocial {
  color: white;
}

.title.footer .m-l-1 {
  margin-left: 1rem;
}

.title .bg-pri {
  background: rgba(128, 113, 113, 0.8);
  padding: .75rem;
}

.content {
  background: #807171;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
}

.content .aboutme {
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content .aboutme .personal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .aboutme .personal .aboutformat {
  text-align: center;
  -webkit-margin-after: 0;
}

.content .aboutme .personal .resizepp {
  width: 100%;
}

.content.workhistory {
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content.workhistory .lastformat {
  -webkit-margin-after: 0;
}

.content.workhistory .lastformat li:last-child p {
  -webkit-margin-after: 0;
}

.content.skillset {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  min-height: 6rem;
}

.content.skillset .icon .iconformat {
  color: white;
  font-size: 5rem;
}

.content.samples {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content.samples .samplesformat {
  min-height: 12rem;
}

.content.samples .samplesformat.port-1 {
  background: url(../photos/portfolio-1.jpeg) center center no-repeat;
  background-size: cover;
}

.content.samples .samplesformat.port-1:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../photos/portfolio-1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content.samples .samplesformat.port-2 {
  background: url(../photos/portfolio-2.jpeg) center center no-repeat;
  background-size: cover;
}

.content.samples .samplesformat.port-2:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../photos/portfolio-2.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content.samples .samplesformat.port-3 {
  background: url(../photos/portfolio-3.jpeg) center center no-repeat;
  background-size: cover;
}

.content.samples .samplesformat.port-3:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../photos/portfolio-3.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
