
$primary: rgb(50, 50, 50)
$primaryop: rgba(50, 50, 50, .8)
$secondary: rgb(255, 255, 255)

.bg-name
    background: url('../photos/bg-name.jpeg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.bg-about
    background: url('../photos/bg-about.jpeg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.bg-work
    background: url('../photos/bg-work.jpeg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.bg-skills
    background: url('../photos/bg-skills.jpeg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.bg-portfolio
    background: url('../photos/bg-portfolio.jpeg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.content
    background: $primary
    color: $secondary
    min-height: 13vh;

.resize
    width: 100%
    height: auto;
    border: 5px solid white;

.resize-icon
    font-size: 5rem;

h6
    margin-bottom: 0;
        
        


