
$primary: rgb(128, 113, 113)
$primaryop: rgba(128, 113, 113, .8)
$secondary: rgb(255, 255, 255)

.title
    display: flex
    background: $primary
    color: $secondary
    font-family: 'Roboto Condensed', sans-serif
    justify-content: center
    align-items: center
    min-height: 15rem
    &.name
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 0, 0, .6)), url(../photos/bg-name.jpeg)
        background-repeat: no-repeat
        background-position: center center
        background-size: 100% auto
    &.about
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 0, 0, .6)), url(../photos/bg-about.jpeg)
        background-repeat: no-repeat
        background-position: center center
        background-size: 100% auto
    &.work
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 0, 0, .6)), url(../photos/bg-work.jpeg)
        background-repeat: no-repeat
        background-position: center center
        background-size: 100% auto
    &.skills
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 0, 0, .6)), url(../photos/bg-skills.jpeg)
        background-repeat: no-repeat
        background-position: center center
        background-size: 100% auto
    &.portfolio
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(0, 0, 0, .6)), url(../photos/bg-portfolio.jpeg)
        background-repeat: no-repeat
        background-position: center center
        background-size: 100% auto
    &.footer
        min-height: 6rem
        .formatsocial
            color: $secondary
        .m-l-1
            margin-left: 1rem
    .bg-pri
        background: $primaryop
        padding: 1rem

.content
    background: $primary
    color: $secondary
    font-family: 'Roboto Condensed', sans-serif
    display: flex
    .aboutme
        align-items: center
        padding-top: 3rem
        padding-bottom: 3rem
        .personal
            display: flex
            align-items: center
            justify-content: center
            .aboutformat
                text-align: center
                -webkit-margin-after: 0
            .resizepp
                width: 100%
    &.workhistory
        flex-direction: column
        align-items: center
        padding-top: 3rem
        padding-bottom: 3rem
        .lastformat
            -webkit-margin-after: 0
            li:last-child p
                -webkit-margin-after: 0
    &.skillset
        align-items: center
        justify-content: space-around
        text-align: center
        flex-wrap: wrap
        font-size: 5rem
        min-height: 7rem
        .icon
            .iconformat
                color: $secondary
                font-size: 5rem
           
    &.samples
        padding-top: 3rem
        padding-bottom: 3rem
        .samplesformat
            min-height: 12rem
            &.port-1
                background: url(../photos/portfolio-1.jpeg) center center no-repeat
                background-size: cover
                &:hover
                    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../photos/portfolio-1.jpeg)
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: cover
            &.port-2
                background: url(../photos/portfolio-2.jpeg) center center no-repeat
                background-size: cover
                &:hover
                    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../photos/portfolio-2.jpeg)
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: cover
            &.port-3
                background: url(../photos/portfolio-3.jpeg) center center no-repeat
                background-size: cover
                &:hover
                    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url(../photos/portfolio-3.jpeg)
                    background-position: center center
                    background-repeat: no-repeat
                    background-size: cover
        
        


